---
import Layout from "../layouts/Layout.astro";
import Plat from "../components/Plat.astro";
import CartaController from "../controllers/CartaController";
const cartaCompleta = new CartaController();
const carta = await cartaCompleta.getCarta();
const categories = ["Entrants","Segons plats","Postres"];
---

<Layout>
    <div class="container">
        <div class="row">
            {categories.map(categoria => (
                 <h1 class="titolCategories mt-4 mb-2">{categoria}</h1>
                 <div class="row">
                    {carta.filter(plat => plat.category === categoria).map(plat => <Plat plat={plat}/>)}
                 </div>
                 )
            )}
            
            <!--{carta.map(plat => <Plat plat={plat}/>)}-->
        </div>
    </div>
    
</Layout>