---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="mainHeader">
        <div class="row">
            <div class="col-12">
                <div class="">
                    <h1>Un nou Restaurant</h1>
                </div>
            </div>
        </div>
    </div>
    Hola que tal<br />
    Hola que tal<br />
    Hola que tal<br />
    Hola que tal<br />
</Layout>
