---
import Layout from "../layouts/Layout.astro";
import ReservaController from "../controllers/ReservaController";
const reserva = new ReservaController();
const dadesReserves = await reserva.getAll();
---

<Layout>
    <div class="container">
        <div class="row">
            <h1 class="mt-3">Reserva de taula</h1>
        </div>
        <form action="/reservaPOST" method="post" class="mt-3">
            <div class="row">
                <div class="col-6">
                    <label for="name">Nom</label><br />
                    <input type="text" id="name" name="name" required />
                </div>
                <div class="col-6">
                    <label for="mail">Correo electrónico</label><br />
                    <input type="email" id="email" name="email" required />
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="phone">Telèfon</label><br />
                    <input type="tel" id="tel" name="tel" required />
                </div>
                <div class="col-6">
                    <label for="date">Data</label><br />
                    <input type="date" id="date" name="date" />
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <input class="btn btn-primary mt-4" type="submit" value="Fer reserva" />
                </div>
            </div>
        </form>
        <div class="row">
            <h1 class="mt-5 mb-3">Llista de reserves</h1>
            <div class="col-12">
                <table class="table">
                    <tr>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Telèfon</th>
                        <th>Data</th>
                    </tr>
                    {dadesReserves.map(reserva => (
                        <tr>
                            <td>{reserva.name}</td>
                            <td>{reserva.email}</td>
                            <td>{reserva.tel}</td>
                            <td>{reserva.date}</td>
                        </tr>
                    ))}
                </table>
            </div>
        </div>
    </div>
    
</Layout>
