---

---

<footer class="bg-warning pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <a class="navbar-brand" href="/"><i class="bi bi-egg-fried">&nbsp;&nbsp;El Restaurante</i>
                </a>
            </div>
            <div class="col-6">
                <p><i class="bi bi-geo-alt-fill">&nbsp;&nbsp;C/ Diagonal, 999</i></p>
                <p><i class="bi bi-envelope-fill"></i>&nbsp;&nbsp;elrestaurante@gmail.com</p>
                <p><i class="bi bi-telephone-fill"></i>&nbsp;&nbsp;937655433</p>
                <p><i class="bi bi-map-fill">&nbsp;&nbsp;Barcelona</i></p>
            </div>
        </div>
    </div>
</footer>