/*Home*/

.mainHeader {
    background-image: url("/img/img001.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainTitle {
    color: white;
    text-align: center;
    margin: auto;
}

/*Menu*/

.platImgCard {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 100px;
    border: 2px solid;
}

.titolCategories {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 3px solid orange;
}